// Base Colors
$base-color: #c6538c;
$text-color: #535353;

// Primary Colors
$primary-soft-blue: #bbb8fa;
$primary-dark-blue: #070439;

// Accent Colors
$accent-green: #05d69b;

// Neutral Colors
$neutral-gray: #808080;
